@import './variables/fonts';
@import './variables/colors';
@import './variables/sizes';
@import './components/buttons';
@import './components/inputs';
@import './components/containers';


* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

body {
  font-family: SF-PRO;

  font-size: $s22px;
  background: $background;
  color: $color;
  padding: $s24px;
}

a, a:active {
  text-decoration: none;
}
