@import 'src/sass/variables/colors';
@import 'src/sass/variables/sizes';

.container {
  text-align: center;

  & > * {
    margin-bottom: $s16px;
  }

  .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $s18px;
    color: $background-card;
    margin-top: 1rem;

    a {
      color: $background-card;
    }

    .createAccount {
      text-decoration: underline;
    }
  }
}