@import 'src/sass/variables/sizes';
@import 'src/sass/variables/colors';
@import 'src/sass/components/containers';


.card {
  @extend .container;
  @extend .container-transition;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $background;

  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 128px;
      height: 128px;
      margin-bottom: $s24px;
      border: 1px $background-card solid;
      border-radius: 50%;
    }

    div {
      text-align: center;
      font-size: $s36px;
      margin-bottom: $s90px;
    }
  }

  .b {
    height: 100%;

    .loading, .counter {
      height: $s12px;
      border-radius: 12px;
    }

    .loading {
      width: 100%;
      background: rgb(212, 224, 197);
      margin-bottom: $s24px;
    }


    .counter {
      width: 0;
      background: linear-gradient(
                      rgba(254, 126, 107, 1) 0%,
                      rgba(255, 194, 182, 1) 35%,
                      rgba(255, 194, 182, 1) 50%,
                      rgba(254, 126, 107, 1) 55%,
                      rgba(254, 126, 107, 1) 98%);
      animation: counter 10s 3s linear forwards;
    }

    .questionCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      height: calc((var(--vh, 1vh) * 80));
      border-radius: 20px;
      background: $background-card;

      padding: $s20px;

      .categoryImg {
        width: $s56px;
        height: $s56px;
        margin-bottom: $s20px;
      }

      .question {
        color: white;
        font-size: $s24px;
        flex: 1;
      }

      .options {
        width: 100%;

        .option {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          width: 100%;
          padding: 4px 26px 6px 6px;
          background: white;
          border-radius: 24px;

          &:not(:last-child) {
            margin-bottom: $s8px;
          }

          .label {
            color: white;
            font-size: $s16px;
            padding: $s12px;
            text-transform: uppercase;

            border-radius: 50%;

            background: linear-gradient(203deg, rgba(255, 194, 182, 1) 0%, rgba(254, 126, 107, 1) 98%);
            box-shadow: -1px 3px 0 0 rgb(174, 72, 57);
          }

          span {
            text-align: center;
            flex: 1;
            font-size: $s18px;
            color: rgb(0, 87, 179);
          }

          .disabled {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            background: rgba($background-card, 0.6);
          }

          &.correctOption {
            border: 1px rgb(8, 127, 57) solid;
            box-shadow: 0 0 0 4px rgb(57, 155, 98);
          }

          &.wrongOption {
            border: 1px rgb(221, 67, 44) solid;
            box-shadow: 0 0 0 4px rgb(199, 150, 143);
          }

          .check {
            width: $s24px;
            height: $s24px;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            right: $s6px;
            transform: translate(0, -50%);

            display: none;

            &.showCorrect {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &.correct {
              background: rgb(38, 206, 164);
            }

            &.wrong {
              background: rgb(221, 67, 44);
            }

            img {
              width: $s12px;
              height: $s12px;
            }
          }
        }
      }
    }
  }
}

@keyframes counter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}