$background: #F4FFE7;

$color: rgb(38, 72, 137);
$color-categories: rgb(68, 89, 165);

$button-background: #36B0F6;
$button-shadow: #2583B9;
$button-color: white;


$button-next-background: #FE7E6B;
$button-next-border: rgb(253, 125, 106);
$button-next-shadow: #AE4839;


$button-category-background: white;
$button-category-border: rgb(50, 131, 216);
$button-category-shadow: rgb(50, 131, 216);


$button-category-disabled-background: white;
$button-category-disabled-border: #3283D8;
$button-category-disabled-shadow: #AE4839;


