$s4px: 0.3rem;
$s6px: 0.4rem;
$s8px: 0.5rem;
$s10px: 0.625rem;
$s12px: 0.75rem;
$s14px: 0.875rem;
$s16px: 1rem;
$s18px: 1.125rem;
$s20px: 1.25rem;
$s22px: 1.375rem;
$s24px: 1.5rem;
$s28px: 1.75rem;
$s32px: 2rem;
$s36px: 2.25rem;
$s40px: 2.5rem;
$s48px: 3rem;
$s56px: 3.5rem;
$s62px: 3.875rem;
$s72px: 4.5rem;
$s80px: 5rem;
$s86px: 5.38rem;
$s88px: 5.485rem;
$s90px: 5.625rem;