@import 'src/sass/components/containers';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/sizes';

.container {
  @extend .container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 label {
   font-size: 34px;
   margin-bottom: 1rem;
   margin-top: 6rem;
 }

  input {
    width: 80%;
  }

  button {
    position: fixed;
    bottom: 3rem;
  }


}

.back {
  position: absolute;
  top: $s16px;
  left: $s16px;
  z-index: 1;
  color: #264889;
}