@import 'src/sass/variables/colors';
@import 'src/sass/variables/sizes';
@import 'src/sass/variables/fonts';


button, button:active, button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn {
  font-family: SF-PRO;
  color: white;
  background: $button-background;
  border: 1px $button-background solid;
  box-shadow: 0 0.2rem 0 0 $button-shadow;
  border-radius: 24px;

  font-size: $s18px;
  padding: $s12px $s24px;

  transition: 0.5s all;

  &:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0 0 0 $button-shadow;
  }

  &.disabled, &:disabled {
    opacity: 0.6;
  }
}

.btn-category {
  @extend .btn;
  color: $color-categories;
  background: $button-category-background;
  border: 1px $button-category-border solid;
  box-shadow: 0 0.2rem 0 0 $button-category-shadow;
  &:active {
    box-shadow: 0 0 0 0 $button-category-shadow;
  }
}

.btn-next {
  @extend .btn;
  background: $button-next-background;
  border: 1px $button-next-border solid;
  box-shadow: 0 0.2rem 0 0 $button-next-shadow;

  &:active {
    box-shadow: 0 0 0 0 $button-shadow;
  }
}