@import 'src/sass/variables/colors';
@import 'src/sass/variables/sizes';
@import 'src/sass/variables/fonts';


input {
  font-size: 20px;
  background: white;
  border-radius: 24px;
  padding: 1rem;
  color: black;
  border: 1px rgba($button-category-border, 0.6) solid;
  box-shadow: 1px 1px 1px 1px rgba($button-category-shadow, 0.6);
  margin-bottom: 1rem;
  width: 150px;
  outline: none;
  text-align: center;

  &:active, &:focus {
    border: 1px $button-category-border solid;
    box-shadow: 1px 1px 1px 1px $button-category-shadow;
  }
}
