@import 'src/sass/components/containers';
@import 'src/sass/variables/sizes';


.container {
  @extend .container;
  @extend .container-transition;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  .title {
    font-size: $s28px;
    margin-bottom: $s56px;
  }

  .score {
    width: 100%;
    height: calc(var(--vh, 1vh) * 70 );

    .card {
      position: absolute;
      will-change: transform, height, opacity;
      width: 100%;

      button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

}

