@import 'src/sass/components/containers';
@import 'src/sass/variables/sizes';


.container {
  @extend .container;
  @extend .container-transition;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  .title {
    font-size: $s28px;
    margin-bottom: $s56px;
  }

  .trailsMain {
    position: relative;
    width: 100%;
    height: calc((var(--vh, 1vh) * 80));
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .trailsText {
    position: relative;
    width: 100%;
    height: 80px;
    will-change: transform, opacity;
    button {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .trailsText > div {
    overflow: hidden;
  }


}

@keyframes go-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}